.main-message__box
  .main-message__box-upper
    .main-message__box-upper-name
      = message.user.name
    .main-message__box-upper-date
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .main-message__box-comment
    - if message.content.present?
      %p.main-message__box-comment__content
        = message.content
    = image_tag message.image.url, class: 'main-message__box-comment__image' if message.image.present?